<div class="container-fluid">
  <div class="row">

    <%= render "admin/side_nav"%>


<br><br><div class="container">

<%= form_with(model: [:admin, @event], url: admin_event_path, method: "patch") do |form| %>
  <div class="form-row">   
    <div class="form-group col-md-6">
      <%= form.label :name, "Title:" %>
      <%= form.text_field :title, id: :title, class: "form-control", placeholder: "#{@event.title}"%>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :name, "Price:" %>
      <%= form.text_field :price, id: :price, class: "form-control", placeholder: "#{@event.price}"%>
    </div>
    
    <div class="form-group col-md-12">
      <%= form.label :name, "Description:" %>
      <%= form.text_field :description, id: :description, class: "form-control", placeholder: "#{@event.description}"%>
    </div>

    <div class="form-group col-md-6">
      <%= form.label :name, "Location:" %>
      <%= form.text_field :location, id: :location, class: "form-control", placeholder: "#{@event.location}"%>
    </div>

    <div class="form-group col-md-2">
      <label for="inputState">Duration</label>
      <select id="inputState" class="form-control">
        <% x = 0 %>
        <% loop do %>
          <option><%= x %></option>
          <% x += 5 %>
          <% break if x >= 50 %>
        <% end %>
      </select>
    </div>

    <div class="form-group col-md-10">
      <%= form.label :name, "Start date:" %>
      <%= form.text_field :start_date, id: :start_date, class: "form-control", placeholder: "#{@event.start_date}"%>
    </div>


  </div>
<% end %>


<form accept-charset="UTF-8" action="/admin/evens/<% @event.id %>" data-remote="true" method="patch">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Title</label>
      <input class="form-control" id="title" placeholder="<%= @event.title %>">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Price</label>
      <input class="form-control" id="inputPassword4" placeholder="<%= @event.price %>">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Description</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="<%= @event.description %>">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Location</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="<%= @event.location %>">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Start date</label>
      <input type="text" class="form-control" id="inputCity" placeholder="<%= @event.start_date %>">
    </div>

    <div class="form-group col-md-4">
      <label for="inputZip">Administrator</label>
      <select id="administrator" class="form-control">
        <% @users.each do |user| %>
        <option><%= user.first_name %></option>
        <% end %>
      </select>
    </div>
  </div>
  
  <%= link_to '<button type="submit" class="btn btn-primary">Update</button>'.html_safe, admin_event_path(@event), method: :patch %>
</form>
</div>
  </div>
</div>