<div class="container-fuild">
  <div class="row">
  
  <%= render "admin/side_nav"%>

    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Start date</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>

            <% @events.each do |event| %>
              <tr style="cursor: pointer;", onclick="location.href='<%= admin_event_path(event) %>'">
                <td><%= event.id %></td>
                <td><%= event.title %></td>
                <td><%= event.description[0..20].gsub(/\s\w+\s*$/, ' ...') %></td>
                <td><%= event.start_date %></td>
                <td><%= event.location %></td>
              </tr>
            <% end %>
            
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
