<div class="container" style="margin-top: 8%";>
  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <h2>Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "form-signin mt-3" }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: "btn btn-lg btn-primary btn-block" %>
      </div>
    <% end %>
    
    <br>
    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>