<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">EventBrite,</h1>
    <p>Les evenements près de chez toi ! (Franglais [ON])</p><br>

    <% if user_signed_in? %>
      <a href="<%= new_event_path %>" class="btn btn-lg btn-outline-info btn-block">New event !</a>
      <br>
    <% end %>

  </div>
</div>


<div class="container">
  <div class="row-fluid marketing" id="gossips">
    <div class="col-xs-1 center-block">
      <div class="card-columns">

        <% @events.each do |event| %>

          <div class="animated wow fadeIn">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title"><%= event.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted">Admin: <%= link_to "#{event.administrator.first_name} #{event.administrator.last_name}", user_path(event.administrator.id) %></h6>
                <p class="card-text"><%= event.description[0..50].gsub(/\s\w+\s*$/, ' ...') %></p>
                <%= link_to "plus", event_path(event.id), :class => "btn btn-secondary" %>   
              </div>
            </div>
          </div>
          
        <% end %>

      </div>
    </div>
  </div>
</div>

