<br><br>

<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <h2><%= @event.title %></h2>
      <%= link_to 'IMA GOIN', event_attendances_path(event_id: @event.id, ) %>
          
        
      <%= form_tag event_attendances_path(event_id: @event.id) do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>Amount: $5.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="500"
                data-locale="auto"></script>
      <% end %>

    </div>
    <div class="card-body">
      <h5 class="card-title">Beginning: <%= @event.start_date %></h5>
      <p class="card-title">Attendees: <%= @attendees %></p>
    </div>
    <div class="card-footer text-muted"><br>
    </div><br><br>



<div class="card">
  <div class="card-header">
    <h4>Description</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><em><%= @event.description %></em></p>
  </div>
</div><br><br>

<div class="card">
  <div class="card-header">
    <h4>About organizer</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"><em><%= @administrator.first!.first_name + " " + @administrator.first!.last_name %></em></p>
    <p class="card-text">Contact: <%= @administrator.first!.email %></p>
  </div>
</div>

<div class="card">
  <div class="card-header">
    <h4>Reste des infos (la flemme, il est 2H l'ami.e)</h4>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text">Start: <%= @event.start_date %></p>
    <p class="card-text">End: <%= (@event.start_date + (@event.duration * 60)) %></p>
    <p class="card-text">Price: <%= @event.price %> Ğ1</p>
    <p class="card-text">Location: <%= @event.location %></p>


  </div>
</div>