<div class="container-fuild">
  <div class="row">
    
  <%= render "admin/side_nav"%>


    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Email</th>
              <th>Description</th>
              <th>Register date</th>
              <th>Admin</th>
            </tr>
          </thead>
          <tbody>

            <% @users.each do |user| %>
              <tr style="cursor: pointer;", onclick="location.href='<%= admin_user_path(user) %>'">
                <td><%= user.id %></td>
                <td><%= user.first_name + " "  + user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.description[0..20].gsub(/\s\w+\s*$/, ' ...') %></td>
                <td><%= user.created_at %></td>
                <td><%= user.is_admin %></td>
              </tr>
            <% end %>
            
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
